.DS_Store
.DS_Store
assignment1/.DS_Store
assignment1/cs231n/.DS_Store
assignment1/cs231n/classifiers/__pycache__/__init__.cpython-36.pyc
assignment1/cs231n/__pycache__/data_utils.cpython-36.pyc
assignment1/cs231n/classifiers/__pycache__/__init__.cpython-36.pyc
assignment1/cs231n/classifiers/__pycache__/k_nearest_neighbor.cpython-36.pyc
assignment1/cs231n/classifiers/__pycache__/linear_classifier.cpython-36.pyc
assignment1/cs231n/classifiers/__pycache__/linear_svm.cpython-36.pyc
assignment1/cs231n/classifiers/__pycache__/softmax.cpython-36.pyc
assignment1/cs231n/datasets/.DS_Store
assignment1/cs231n/__pycache__/data_utils.cpython-36.pyc

